.sendmessage {
    height: 38px;
    width: 100%;
    margin: 15px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: Roboto;
    position: fixed;
}

.attachement__icon>i,
.send-button__button>i,
.smiles__icon>i {
    font-size: 2em;
    color: black;
}

.send-button__button {
    display: block;
    border: none;
    background: transparent;
    color: white;

}

.sendmessage__attachement {
    position: relative;
}
