@import url('https://fonts.googleapis.com/css?family=Roboto');

.registration-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    align-content: space-around;
}

.registration-container{
    width: 250px;
    height: 440px;
    background-color: #efeee3;
    filter: drop-shadow( 0 3px 5px rgba(0,0,0,0.25));
    padding: 1em 2em 2em;
}

.registration-container h2{
    text-align: center;
}

.registration-container__input-container{
    display: flex;
    flex-direction: column;
}

.registration-container__input-container div{
    padding: 0.6em 0 0.2em 0;
    color: #6f6c6a;
}

.registration-container__input-container .span_required{
    padding-left: 0.2em;
    color: red;
}

.registration-container__input-container input{
    border: 0;
    padding: 1em;
}

.registration-container__button-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.registration-container__button-container div{
    margin: 2em auto auto;
    width: 70%;
    background-color: #f25a41;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7em;
}

.registration-container_error{
    text-align: center;
    color: red;
}
